* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-size: 30px;
  text-align: center;
}

.container {
  display: grid;
  justify-items: center;
}

.grid-container {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header"         
                        "main"                
                        "footer";  
  grid-template-rows: max-content max-content minmax(200px, auto);
  background-color: #e6e5f4;               
}

.header {
  display: grid;
  grid-template-areas: "title"         
                        "navigation";  
  grid-template-rows: max-content max-content;
  grid-area: header;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  color: #474141;
  grid-area: title;
}

.header__container {
  width: 100%;
  grid-area: navigation;
}

.header__navigation {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
gap: 5px;
list-style-type: none;
padding: 20px 0px;
}

.button {
  font-size: 20px;
  border: none;
  background-color: #81cda1;
  padding: 10px 15px;
  border-radius: 22px;
  transition-property: all;
  transition-duration: 1.5s;
}

.button:hover {
  transform: scale(1.2, 1.2);
  background-color: #c7cf60;
  color: black;
}

.main {
  grid-area: main;
  padding: 20px 0;
}

.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.main__item {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #540b82;
  transition-property: all;
  transition: 1s;
}

@media screen and (max-width: 200px) {
  .main__item {
    width: 100%;
  }
}

.main__item:hover {
  transform: rotate(180deg);
}

.footer {
  position: relative;
  grid-area: footer;
  margin-right: 40px;
  margin-bottom: 40px;
}

.ball {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: ball 10s linear 0s infinite alternate;
}

.ball:hover {
	animation-play-state: paused;
}

@keyframes ball {
	0% {
    top: 50%;
    left: 0%;
    background-color: #7242b8;
	}
  10% {
    top: 100%;
    left: 10%;
    background-color: #92007e;
	}
  20% {
    top: 0%;
    left: 20%;
    background-color: #b01400;
	}
	30% {
    top: 100%;
    left: 30%;
    background-color: #ed7573;
	}
  40% {
    top: 0%;
    left: 40%;
    background-color: #db62cf;
	}
  50% {
    top: 100%;
    left: 50%;
    background-color: #3f7dd7;
	}
  60% {
    top: 0%;
    left: 60%;
    background-color: #00bfb3;
	}
  70% {
    top: 100%;
    left: 70%;
    background-color: #5cdc13;
	}
  80% {
    top: 0%;
    left: 80%;
    background-color: #b1ba36;
	}
  90% {
    top: 100%;
    left: 90%;
    background-color: #999486;
	}
	100% {
    top: 50%;
    left: 100%;
    background-color: #7e62b1;
	}
}